<!--INICIO RODAPÉ-->
<footer>
    <div id="footer-content">
        <div id="footer-contacts">
            <p>Siga a MOB nas Redes Sociais</p>
            <div id="footer-redes-social">
                <a href="https://www.facebook.com/Programa.MOBOFICIAL" class="footer-link" id=Face>
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://instagram.com/programamob?igshid=MjEwN2IyYWYwYw==" class="footer-link" id=Insta>
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="wa.link/6lui90" class="footer-link" id=what>
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>

        </div>
        <ul class="footer-list">
            <li>
                <h3> MOB</h3>
            </li>
            <li>
                <a href="CadPaisToristas.html" class="footer-link">Home </a>
            </li>
            <li>
                <a href="CadAlun.html" class="footer-link">Quem Somos </a>
            </li>
            <li>
                <a href="CadAlun.html" class="footer-link">Projetos </a>
            </li>
            <li>
                <a href="CadAlun.html" class="footer-link">Doar </a>
            </li>
        </ul>
        <ul class="footer-list">
            <li>
                <h3> PARCEIROS</h3>
            </li>
            <li>
                <a href="LavaRapidoCar.html" class="footer-link">Fórum Antirracista </a>
            </li>
            <li>
                <a href="Posto.html" class="footer-link">Instituto Cativar</a>
            </li>
            <li>
                <a href="Posto.html" class="footer-link">Kaspper Academy</a>
            </li>
            <li>
                <a href="Posto.html" class="footer-link">Nave Internet</a>
            </li>
            <li>
                <a href="Posto.html" class="footer-link">Projeto Meninos e Meninas de Rua</a>
            </li>
        </ul>
        <div>
            <div class="container">
                <div class="row align-items-start">
                    
                        <p> ©2023 Todos os direitos reservados MOB | Mobilização Social.
                            Para entrar em contato conosco: mobprojetosocial@gmail.com </p>
                   
                </div>
            </div>
        </div>
    </div>
</footer>
<!--FINAL RODAPÉ-->