footer {
    width: 100%;
    color: #c5c321;
}

.footer-link {
    text-decoration: none;
}

#footer-content {
    background-color: #131212;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer-contacts h1 {
    margin-bottom: 0.75rem;
}

#footer-redes-social {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-redes-social .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #f5f5f5;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-redes-social .footer-link:houver {
    opacity: 0.9;
}

#footer-redes-social .footer-link i {
    font-size: 1.25rem;
}

#Insta {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#Face {
    background-color: #4267b3;
}

#what {
    background-color: #25d362;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: #a8a29e ;
}
