<br>

<div class="d-flex justify-content-around">
     <div class="d-flex align-items-center">
         <h1>Educação Política</h1>
     </div>
 </div>


        <div class="m-3" style='text-align:center'>

        <h2 style="background-color: rgb(254, 254, 254);"></h2>

        <p>Tem como objetivo formar nossos alunos em educação politica não partidária, com foco em leva-los a serem agentes de mudança. 
            <br>Que interfiram em sua realidade, que tenham criticidade e eticidade. 
            <br>Quem sabem enxergar atentamente as formas de opressão, desigualdade social e desastres ambientais
             
        <br>
        <br>
        <br>

            <div class="container">
            <div class="row">
                <div class="col">
                    

                    <div class="card" style="width: 25rem;">
                        <img src="./assets/imagens/educpolitica1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 25rem;">
                        <img src="./assets/imagens/educpolitica2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 25rem;">
                        <img src="./assets/imagens/educpolitica3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                    </div>
                </div>

            </div>
        </div>

           

            Tenho interesse: <a href="cadastro.html">CLIQUE AQUI</a>
