<!-- card MOB Festival-->
<br>
<div class="row g-0 bg-body-secondary position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <div class="ratio ratio-16x9" >
        <iframe src="assets/imagens/video_mob.mp4"title="MOB FESTIVAL" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">MOB FESTIVAL é cultura !!!
        <br>
        <br>
        Mais uma edição - 30 de Setembro 2023
      </h5>
      <p>Mobfestival é um evento musical e de arte cultura surgiu no ano de 2014 com uma proposta de unir os artistas
        locais ! O seu início era pro um público underground, porém a medida que o evento foi crescendo outros gêneros
        foram adicionados !

        A mobfestival que tem como idealizadora a MOB, é um encontro que faz com que mais pessoas conheçam a organização
        e seus trabalhos!

        Teve como inspiração Lollapalooza, Rock in Rio e outros festivais que unem o rock, rap e o pop!

        O festival tem como diretor Mike olima amante do entretenimento, arte e cultura!</p>
      <a href="#" class="stretched-link">Go somewhere</a>
    </div>
  </div>
  <!-- fim card-->
  <br>
  <!--inicio card -->
  <div class="row g-0 bg-body-secondary position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <div class="ratio ratio-16x9" >
        <img src="assets/imagens/arraia.jpg" width="50%"height="50%" title="Arraia da Mob" allowfullscreen>
      </div>
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Arraia da MOB!!!
        <br>
        <br>
        Mais uma edição - 30 de Setembro 2023
      </h5>
      <p>Mobfestival é um evento musical e de arte cultura surgiu no ano de 2014 com uma proposta de unir os artistas
        locais ! O seu início era pro um público underground, porém a medida que o evento foi crescendo outros gêneros
        foram adicionados !

        A mobfestival que tem como idealizadora a MOB, é um encontro que faz com que mais pessoas conheçam a organização
        e seus trabalhos!

        Teve como inspiração Lollapalooza, Rock in Rio e outros festivais que unem o rock, rap e o pop!

        O festival tem como diretor Mike olima amante do entretenimento, arte e cultura!</p>
      <a href="#" class="stretched-link">Go somewhere</a>
    </div>
  </div>
  <!-- fim   video-->
  <br>
  <div class="row g-0 bg-body-secondary position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <div class="ratio ratio-16x9" >
        <img src="assets/imagens/ferias.jpg"title="MOB FESTIVAL" allowfullscreen>
      </div>
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Férias na MOB !!!
        <br>
        <br>
        Mais uma edição - 30 de Setembro 2023
      </h5>
      <p>Mobfestival é um evento musical e de arte cultura surgiu no ano de 2014 com uma proposta de unir os artistas
        locais ! O seu início era pro um público underground, porém a medida que o evento foi crescendo outros gêneros
        foram adicionados !

        A mobfestival que tem como idealizadora a MOB, é um encontro que faz com que mais pessoas conheçam a organização
        e seus trabalhos!

        Teve como inspiração Lollapalooza, Rock in Rio e outros festivais que unem o rock, rap e o pop!

        O festival tem como diretor Mike olima amante do entretenimento, arte e cultura!</p>
      <a href="#" class="stretched-link">Go somewhere</a>
    </div>
  </div>
  <!-- fim   video-->
  <br>