<div class="container">
    <div class="form-image">
        <img src="./Imagens/FotoCadAlunos.jpg">
    </div>
    <div class="form">
        <form action="#">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastro dos Alunos</h1>
                </div>
                <div class="login-button">
                    <button> <a href="Index.html"> HOME </a></button>
                </div>
            </div>

            <div class="input-group">
                <div class="input-box">
                    <label for="NomeAluno"> Nome Completo: </label>
                    <input id="NomeAluno" type="text" name="Nome do Aluno" placeholder="Digite o Nome Completo"
                        required>
                </div>

                <div class="input-box">
                    <label for="RGAluno"> RG: </label>
                    <input id="RGAluno" type="number" name="RG do Aluno" required>
                </div>

                <div class="input-box">
                    <label for="CPFAluno"> CPF: </label>
                    <input id="CPFAluno" type="number" name="CPF do Aluno" required>
                </div>

                <div class="input-box">
                    <label for="ContatoAluno"> Contato: </label>
                    <input id="ContatoAluno" type="tel" name="Contato do Aluno" required>
                </div>

                <div class="input-box">
                    <label for="EmailAluno"> Email: </label>
                    <input id="EmailAluno" type="email" name="Email do Aluno" required>
                </div>

                <div class="input-box">
                    <label for="EnderecoAluno"> Rua: </label>
                    <input id="EnderecoAluno" type="text" name="Endereco do Aluno" required>
                </div>

                <div class="input-box">
                    <label for="EnderecoAluno"> Numero: </label>
                    <input id="EnderecoAluno" type="text" name="Endereco do Aluno" required>
                </div>

                <div class="input-box">
                    <label for="EnderecoAluno"> Complemento: </label>
                    <input id="EnderecoAluno" type="text" name="Endereco do Aluno" required>
                </div>
                <div class="input-box">
                    <label for="EnderecoAluno"> Bairro: </label>
                    <input id="EnderecoAluno" type="text" name="Endereco do Aluno" required>
                </div>
                <div class="input-box">
                    <label for="EnderecoAluno"> Cidade: </label>
                    <input id="EnderecoAluno" type="text" name="Endereco do Aluno" required>
                </div>
            </div>

            <div class="gender-inputs">
                <div class="gender-title">
                    <h2> Escolha o Período do Estudante: </h2>
                </div>

                <div class="gender-group">
                    <div class="gender-input">
                        <input type="radio" id="manha" name="gender">
                        <label for="manha">Manhã: 7h00 às 12h20</label>
                    </div>
                    <div class="gender-input">
                        <input type="radio" id="tarde" name="gender">
                        <label for="tarde">Tarde: 13h00 às 18h20</label>
                    </div>
                    <div class="gender-input">
                        <input type="radio" id="noite" name="gender">
                        <label for="noite">Noite: 19h00 às 23h00</label>
                    </div>
                </div>
            </div>

            <div class="continue-button">
                <button> <a href="Index.html"> Enviar o Cadastro </a> </button>
            </div>
        </form>

    </div>

</div>
