<!-- INICIO CAROSEL-->
<br>
<div class="container">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/imagens/festival1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/imagens/festival2.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/imagens/festival.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!--inicio imagem-->

  <!-- FINAL CAROSEL-->
  <br>
  <!-- INICIO COMO FUNCIONA-->
  <div class="container">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          COMO FUNCIONA
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin
          adds the appropriate classes that we use to style each element. These classes control the overall appearance,
          as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
          overriding our default variables. It's also worth noting that just about any HTML can go within the
          <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          VOCÊ DOA
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin
          adds the appropriate classes that we use to style each element. These classes control the overall appearance,
          as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
          overriding our default variables. It's also worth noting that just about any HTML can go within the
          <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          NÓS INVESTIMOS EM:
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
          adds the appropriate classes that we use to style each element. These classes control the overall appearance,
          as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
          overriding our default variables. It's also worth noting that just about any HTML can go within the
          <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>

  <br>
  <!-- inicio  video-->
  <div class="row g-0 bg-body-secondary position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <div class="ratio ratio-16x9" >
        <iframe src="assets/imagens/video_mob.mp4"title="MOB FESTIVAL" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">MOB FESTIVAL é cultura !!!
        <br>
        <br>
        Mais uma edição - 30 de Setembro 2023
      </h5>
      <p>Mobfestival é um evento musical e de arte cultura surgiu no ano de 2014 com uma proposta de unir os artistas
        locais ! O seu início era pro um público underground, porém a medida que o evento foi crescendo outros gêneros
        foram adicionados !

        A mobfestival que tem como idealizadora a MOB, é um encontro que faz com que mais pessoas conheçam a organização
        e seus trabalhos!

        Teve como inspiração Lollapalooza, Rock in Rio e outros festivais que unem o rock, rap e o pop!

        O festival tem como diretor Mike olima amante do entretenimento, arte e cultura!</p>
      <a href="#" class="stretched-link">Go somewhere</a>
    </div>
  </div>
  <!-- fim   video-->
  <br>
</div>