<!-- TÍTULO INTRODUÇÃO-->
<br>
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 72rem;">
                <div class="align-self-stretch">

                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center">
                            <h1>Sobre o Projeto Meninos e Meninas de Rua</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br>


<!--TEXTO INTRODUÇÃO-->

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <img src="assets/imagens/PMMR.jpg" width="400px">
        </div>
    </div>
</div>

<br>

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 38rem; border: 1px solid #ffffff;">
                <div class="align-self-stretch">
                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center flex-column">

                            <p class="fw-light" style="text-align: justify;"> Organização Social que atende crianças e
                                adolescentes em situação de vulnerabilidade social e suas famílias, através do
                                atendimento direto, também na construção e intervenção em políticas públicas e ações
                                culturais como o Bloco Carnavalesco EURECA - Eu Reconheço o Estatuto da Criança e do
                                Adolescente, atividade que busca de forma lúdica apresentar para a sociedade os
                                problemas vivenciado pela infância </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<!--TÍTULO DESENVOLVIMENTO-->

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 72rem;">
                <div class="align-self-stretch">

                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center">
                            <h1>Como é a parceria com a MOB</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br>
<!---PARTE DA PARCERIA COM A MOB--->
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 38rem; border: 1px solid #ffffff;">
                <div class="align-self-stretch">
                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center flex-column">

                            <p class="fw-light" style="text-align: justify;"> O INSTITUTO CATIVAR foi criado em 2014 por
                                um grupo de pessoas que tinham em comum um desejo: um mundo melhor. Com repertório e
                                vivências em diferentes projetos sociais, artísticos, culturais, o grupo reuniu o melhor
                                de sua bagagem a fim de transformar e fortalecer a realidade social de forma abrangente,
                                organizada e contínua.

                                Para escolher a área de atuação do Cativar, esse grupo iniciou uma pesquisa de quais
                                áreas de São Bernardo do Campo apresentavam maior vulnerabilidade social e contavam com
                                menor atuação de entidades socioassistenciais, a fim de garantir a efetividade do
                                trabalho a ser realizado. E a região escolhida foi a do Cooperativa e adjacências, onde
                                inauguramos nossa sede e iniciamos os atendimentos sociais à população do entorno.

                                O objetivo principal é de prevenir situações de risco e fortalecer a convivência
                                familiar e comunitária, oferecer ações complementares à escola, com enfoque na educação
                                integral, apoio psicossocial e sócio-familiar, visando a valorização da escola, o
                                sucesso em situações de ensino-aprendizagem e a criação de vínculos pessoais, familiares
                                e comunitários e desenvolver atividades de intervenção urbana e ações sociais,
                                fortalecendo o respeito, a solidariedade, a gentileza e a sustentabilidade.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <iframe class="map-iframe"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14612.009995811299!2d-46.5531578!3d-23.7116048!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4180686bdf89%3A0xbb02d919222dfdb5!2sProjeto%20Meninos%20e%20Meninas%20de%20rua!5e0!3m2!1spt-BR!2sbr!4v1692724575827!5m2!1spt-BR!2sbr" 
                width="200" class="rounded-circle" style="border: 1px;  ;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h6> 
                <br>
                Endereço: R. Jurubatuba, 1610 - Centro 
                <br>
                São Bernardo do Campo - SP, 09725-001
            </h6>
        </div>
    </div>
    <hr>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="col">
                    <div class="p-3">
                        <h1>Contatos</h1>

                        Projeto menino e Meninas de Rua

                        <ul class="icons">
                            <a href="https://web.facebook.com/pmmrua">
                                <img src="assets/imagens/LogoFace.png" alt="" width="50px" height="50px"></a>
                            <a href="https://www.instagram.com/pmmrua">
                                <img src="assets/imagens/LogoInsta.jpeg" width="50px" height="50px"></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>