<br>

<div class="d-flex justify-content-around">
     <div class="d-flex align-items-center">
         <h1>Fotografia</h1>
     </div>
 </div>


        <div class="m-3" style='text-align:center'>

        <h2 style="background-color: rgb(254, 254, 254);"></h2>

        <p>“A oficina fotográfica procura levar a fotografia como arte, através da qual o aluno captura imagens refletidas em diversos objetos,
            <br> desenvolvendo um novo olhar para um ambiente de forma diferente do que o convencional, provocando a reflexão do capturador e de quem 
            <br>  apenas contempla que mundo pode ser observado e o e conhecido também através de reflexos que estão em nossa volta, dessa maneira, provocando um novo 
            <br> olhar antes não percebido ou até mesmo registrado. “  Ilda Imperiano da Costa
       
             
        <br>
        <br>
        <br>

            <div class="container">
            <div class="row">
                <div class="col">
                    

                    <div class="card" style="width: 25rem;">
                        <img src="./assets/imagens/fotog1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 25rem;">
                        <img src="./assets/imagens/fotog2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 25rem;">
                        <img src="./assets/imagens/fotog3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                    </div>
                </div>

            </div>
        </div>

           
        <br>

        <a href class="btn btn-warning"xxxxx>Tenho Interesse</a>

