<!-- TÍTULO INTRODUÇÃO-->
<br>


<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 70rem;">
                <div class="opacity-25">
                <video autoplay loop muted>
                    <source src="assets/imagens/dev.mp4" type="video/mp4">
                 </video>
                 </div>
                <div class="align-self-stretch">
                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center">
                            <h1>Sobre a função de Full Stack</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br>


<!--TEXTO INTRODUÇÃO-->

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <!-- <video autoplay loop class="bg_video">
                <source src="assets/imagens/video.mp4"
                type="video/mp4" [width]="80" [height]="80">
            </video>-->
        </div>
    </div>
</div>

<br>

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 38rem; border: 1px solid #ffffff;">
                <div class="align-self-stretch">
                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center flex-column">

                            <p class="fw-light" style="text-align: justify;">O desenvolvimento de software é uma área em
                                constante evolução, com novas tecnologias e ferramentas surgindo a cada dia. Para
                                atender às demandas do mercado, surgiram diversos profissionais especializados em áreas
                                específicas do desenvolvimento de software. No entanto, existe uma tendência cada vez
                                maior para profissionais que sejam capazes de desenvolver tanto o front-end quanto o
                                back-end de aplicações web. Estes profissionais são conhecidos como desenvolvedores full
                                stack.</p>

                            <p>O que é Full Stack?</p>
                            <p>Full Stack é um termo usado para se referir a um desenvolvedor que é bom em fazer tanto
                                a parte do visual e da interação do usuário em um site ou aplicativo (o frontend) quanto
                                a parte de armazenamento e processamento de informações no servidor (o backend). Em
                                outras palavras, ele é um faz-tudo, que consegue cuidar de toda a parte técnica do
                                desenvolvimento de um projeto.</p>

                            <p>Ser um desenvolvedor Full Stack requer conhecimentos em várias áreas diferentes, como
                                linguagens de programação, bancos de dados e servidores, e isso pode ser muito útil para
                                projetos de qualquer tamanho. A habilidade de trabalhar em todas as partes do
                                desenvolvimento de um projeto, desde a interface do usuário até o armazenamento de
                                informações, pode tornar o processo mais eficiente e permitir uma visão mais ampla do
                                projeto como um todo. Ser capaz de entender e trabalhar em todas as áreas de um projeto
                                pode ser uma grande vantagem para o desenvolvedor e para a equipe como um todo.</p>

                            <p>O que é um desenvolvedor full stack?</p>
                            <p>Como sua própria denominação indica, o desenvolvedor full stack é o profissional
                                habilitado para compreender e operar em todas as camadas do desenvolvimento de um
                                projeto, desde a criação de servidores internos até interfaces de comunicação com o
                                usuário final.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<!--TÍTULO DESENVOLVIMENTO-->
<div class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class="btn btn-warning d-grid gap-2 col-6 mx-auto">Cadastre-se</button>
</div>


<br>
<hr>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="col">
                <div class="p-3">
                    <h1>Contatos</h1>

                    academia-kaspper

                    <ul class="icons">
                        <a href="https://web.facebook.com/kaspperacademy">
                            <img src="assets/imagens/LogoFace.png" alt="" width="50px" height="50px"></a>
                        <a href="https://www.instagram.com/kaspperacademy/">
                            <img src="assets/imagens/LogoInsta.jpeg" width="50px" height="50px"></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>