<!-- TÍTULO INTRODUÇÃO-->
<br>
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 72rem;">
                <div class="align-self-stretch">

                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center">
                            <h1>Sobre o Forúm antirracista</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br>


<!--TEXTO INTRODUÇÃO-->

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <img src="assets/imagens/ForúmAR.jpg" width="300px">
        </div>
    </div>
</div>

<br>

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 38rem; border: 1px solid #ffffff;">
                <div class="align-self-stretch">
                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center flex-column">

                            <p class="fw-light" style="text-align: justify;"> São Bernardo aderiu ao Projeto Cidades
                                Antirracistas, uma iniciativa promovida pelo Ministério Público de São Paulo, que busca
                                construir um futuro mais inclusivo e igualitário em parceria com cidades de São Paulo.</p>

                               <p> Durante uma coletiva de imprensa realizada no gabinete do procurador-geral de São Paulo,
                                o prefeito Orlando Morando formalizou a adesão ao projeto, marcando o comprometimento do
                                município em combater o racismo e promover a igualdade racial.</p>

                                <p>Ao assinar o termo de adesão, a prefeitura de São Bernardo se compromete a trabalhar em
                                parceria com o Ministério Público, elaborando estratégias para combater o racismo em
                                todas as esferas da sociedade, desde o âmbito institucional até a promoção de campanhas
                                de conscientização junto à população.</p>

                                <p>O Projeto Cidades Antirracistas do Ministério Público é uma iniciativa que busca
                                incentivar ações e políticas públicas em prol da construção de cidades mais justas,
                                igualitárias e livres de discriminação racial. O foco principal é construir conselhos,
                                promover a conscientização, educação e ações afirmativas para combater as desigualdades
                                raciais e promover a equidade entre todos os cidadãos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<!--TÍTULO DESENVOLVIMENTO-->

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 72rem;">
                <div class="align-self-stretch">

                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center">
                            <h1>Como é a parceria com a MOB</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br>
<!---PARTE DA PARCERIA COM A MOB--->
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 38rem; border: 1px solid #ffffff;">
                <div class="align-self-stretch">
                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center flex-column">

                            <p class="fw-light" style="text-align: justify;"> O INSTITUTO CATIVAR foi criado em 2014 por
                                um grupo de pessoas que tinham em comum um desejo: um mundo melhor. Com repertório e
                                vivências em diferentes projetos sociais, artísticos, culturais, o grupo reuniu o melhor
                                de sua bagagem a fim de transformar e fortalecer a realidade social de forma abrangente,
                                organizada e contínua.

                                Para escolher a área de atuação do Cativar, esse grupo iniciou uma pesquisa de quais
                                áreas de São Bernardo do Campo apresentavam maior vulnerabilidade social e contavam com
                                menor atuação de entidades socioassistenciais, a fim de garantir a efetividade do
                                trabalho a ser realizado. E a região escolhida foi a do Cooperativa e adjacências, onde
                                inauguramos nossa sede e iniciamos os atendimentos sociais à população do entorno.

                                O objetivo principal é de prevenir situações de risco e fortalecer a convivência
                                familiar e comunitária, oferecer ações complementares à escola, com enfoque na educação
                                integral, apoio psicossocial e sócio-familiar, visando a valorização da escola, o
                                sucesso em situações de ensino-aprendizagem e a criação de vínculos pessoais, familiares
                                e comunitários e desenvolver atividades de intervenção urbana e ações sociais,
                                fortalecendo o respeito, a solidariedade, a gentileza e a sustentabilidade.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <iframe class="map-iframe"
                src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d468355.2610989619!2d-47.07051162691909!3d-23.495591810888836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m3!3m2!1d-23.7172891!2d-46.5882576!4m5!1s0x94cf27c73d261475%3A0x8bacf84ffadce5f!2sKaspper%20-%20R.%20Vig.%20J.%20J.%20Rodrigues%2C%20905%20-%20Centro%2C%20Jundia%C3%AD%20-%20SP%2C%2013201-001!3m2!1d-23.189895!2d-46.8824909!5e0!3m2!1spt-BR!2sbr!4v1692320332718!5m2!1spt-BR!2sbr"
                width="200" class="rounded-circle" style="border: 1px;  ;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h6> Edi
                <br>
                Endereço: Centro, São Bernardo do Campo - SP, 09725-630
                <br>

            </h6>
        </div>
    </div>
    <hr>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="col">
                    <div class="p-3">
                        <h1>Contatos</h1>

                        Forúm antirracista SBC

                        <ul class="icons">
                            <a href="https://www.instagram.com/forumantirracista/">
                                <img src="assets/imagens/LogoFace.png" alt="" width="50px" height="50px"></a>
                            <a href="https://www.facebook.com/groups/977605295712580/">
                                <img src="assets/imagens/LogoInsta.jpeg" width="50px" height="50px"></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>