<div class="container">
    <div class="form-image">
        <img src="assets/imagens/artegrafite1.jpeg">
    </div>
    <div class="form">
        <form [formGroup]="checkoutForm" (ngSubmit)="salvarTarefa()">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastro dos Alunos - Oficina Arte Grafite</h1>
                </div>
                <div class="login-button">
                    <button> <a button class="btn btn-dark" routerLink=" ">Início </a></button>
                </div>
            </div>

            <div class="input-group">
                <div class="input-box">
                    <label for="NomeAluno"> Nome Completo: </label>
                    <input type="text" class="form-control" id="nome" formControlName="nome" required>
                </div>

                <div class="input-box">
                    <label for="RGAluno"> RG: </label>
                    <input type="text" class="form-control" id="rg" formControlName="rg" required>
                </div>

                <div class="input-box">
                    <label for="CPFAluno"> CPF: </label>
                    <input type="text" class="form-control" id="cpf" formControlName="cpf" required>
                </div>

                <div class="input-box">
                    <label for="ContatoAluno"> Telefone: </label>
                    <input type="text" class="form-control" id="telefone" formControlName="telefone" required>
                </div>

                <div class="input-box">
                    <label for="EmailAluno"> Email: </label>
                    <input type="text" class="form-control" id="email" formControlName="email" required>
                </div>
                <div class="gender-inputs">
                    <div class="gender-title">
                        <h2> Qual sua disponibilidade para participar das oficinas? </h2>
                    </div>

                    <div class="gender-group">
                        <div class="gender-input">
                            <input type="radio" value="Manhã" id="periodo" formControlName="periodo" name="gender">
                            <label for="manha">Manhã</label>
                        </div>
                        <div class="gender-input">
                            <input type="radio" value="Tarde" id="periodo" formControlName="periodo" name="gender">
                            <label for="tarde">Tarde</label>
                        </div>
                        <div class="gender-input">
                            <input type="radio" value="Noite" id="periodo" formControlName="periodo" name="gender">
                            <label for="noite">Noite</label>
                        </div>
                    </div>
                </div>
                <div class="continue-button">
                    <button type="submit"> Enviar o Cadastro </button>
                </div>
            </div>
        </form>
    </div>
</div>