
<!--inicio card -->
<div class="row g-0 bg-body-secondary position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <div class="ratio ratio-21x9">
        <img src="assets/imagens/codigo_foto.jpg" width="40%" height="50%" title="Curso Fullstack" allowfullscreen>
      </div>
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Candidatos curso Fullstack
        <br>
        <br>
        Inscrições 2024
      </h5>
      <p>Dados dos Candidatos</p>
      <br>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button routerLink="/listagemFullStack" class="btn btn-warning d-grid gap-2 col-6 mx-auto">Cadastre-se</button>
    </div>
    </div>
  </div>