<div class="container">
    <div class="login-box">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <span class="logo-font">ADM</span> da MOB!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <br>
                <h3 class="header-title">FAZER LOGIN</h3>
                <form [formGroup]="checkoutForm" class="login-form" (ngSubmit)="logar()">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" formControlName="email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="senha" formControlName="senha">
                        <a href="#!" class="forgot-password">Esqueceu sua senha?</a>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-warning">ENTRAR </button> <br>
                        <a routerLink="/" button class="btn btn-outline-warning">VOLTAR A TELA INICIAL </a>
                    </div>
                    <div class="form-group">
                        <div class="text-center">Ainda não tem conta? <a routerLink="#">Cadastre-se</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'></script>