<br>

<div class="d-flex justify-content-around">
    <div class="d-flex align-items-center">
       
        
        <h1>Arte Grafite</h1>
        
     </div>
 </div>


        <div class="m-3" style='text-align:center'>

        <h2 style="background-color: rgb(254, 254, 254);"></h2>

        <p>O objetivo é, principalmente, tecer uma crítica social. Grafite vem da palavra italiana “graffito”, que significa literalmente “escrita feita com carvão”.
        <br> O grafite é, por norma, muito perecível ao tempo e às circunstâncias uma vez que esse tipo de obra não possui proprietário nem vigia.
        </p>
             
        <br>
        <br>
        <br>

            <div class="container">
            <div class="row">
                <div class="col">
                    

                    <div class="card" style="width: 25rem;">
                        <img src="./assets/imagens/artegrafite2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 25rem;">
                        <img src="./assets/imagens/artegrafite1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 25rem;">
                        <img src="./assets/imagens/artegrafite3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                    </div>
                </div>

            </div>
        </div>

           

            Tenho interesse: <a href="cadastro.html">CLIQUE AQUI</a>

        
        