<!-- INICIO NAVEBAR-->
<nav class="navbar navbar-expand-lg bg-body-tertiary" bg-primary data-bs-theme="primary">
  <div class="container-fluid">
    <img src="assets/imagens/LogoMob.jpeg" alt="Bootstrap" width="200" height="100">
    <a class="navbar-brand" routerLink=" "></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=" ">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/Quemsomos">Quem Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Projetos">Projetos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Doar">Doar</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PARCERIAS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/forum">FÓRUM ANTIRRACISTA</a></li>
            <li><a class="dropdown-item" routerLink="/Cativar">INSTITUTO CATIVAR </a></li>
            <li><a class="dropdown-item" routerLink="/Kaspper">KASPPER ACADEMY</a></li>
            <li><a class="dropdown-item" routerLink="/Nave">NAVE INTERNET</a></li>
            <li><a class="dropdown-item" routerLink="/PMMR">PMMR </a></li>
          </ul>
          
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            OFICINAS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="CadPaisToristas.html">PAISTORISTAS</a></li>
            <li><a class="dropdown-item" href="CadAlun.html">ALUNOS</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <a href="Login.html" button class="btn btn-outline-success" type="submit">LOGIN </a>
      </form>
    </div>
  </div>
</nav>

<!-- FINAL NAVEBAR-->