<!-- INICIO BANNER-->
<div id="teste">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/imagens/FotoQuemSomos.jpeg" class="d-block w-100" alt="..." style="height: 600px">
            </div>
        </div>
    </div>
    <!-- FINAL BANNER-->

    <!-- INICIO TEXTE1-->
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <div id="textoo" class="card" style="width: 90rem;">
                    <div class="align-self-stretch">
                        <div class="d-flex justify-content-around">
                            <div class="d-flex align-items-center">
                                <h1> MOBILIZAÇÃO SOCIAL</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <div id="textoo" class="card" style="width:90rem;">
                    <div class="align-self-stretch">
                        <div class="d-flex justify-content-around">
                            <div class="d-flex align-items-justify flex-column">

                                <p class="fw-light" style="text-align: justify;"> A MOB é uma organização da sociedade
                                    civil
                                    que visa levar arte, cultura e educação para
                                    jovens e crianças da comunidade da Vila Ferreira e demais regiões de São Bernardo do
                                    Campo.
                                </p>
                                <p> Um projeto de impacto social e mobilizador na luta pela igualdade, equidade e
                                    pluralidade. Mas falamos que somos uma comunidade
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FINAL TEXTE1-->

    <!-- INICIO CARDS-->
    <div class="container mt-3">
        <div class="row align-items-start">
            <div class="col-4">
                <div id="corcard" class="card" style="width: 19rem;">
                    <div class="ratio ratio-1x1">
                        <img src="assets/imagens/FotoMissao.jpeg" class="card-img-top" alt="..."
                            style="object-fit: contain;">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Mobilizar pessoas a fim de promover bem estarsocial, arte,
                            cultura,formação profissional,oficinas, consciênciacidadã e sustentável,palestras, fórum e
                            lutaspor políticas públicas esociais.</p>
                        <a href="#" class="btn btn-outline-warning d-grid gap-2 col-12 mx-auto">MISSÃO</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div id="corcard" class="card" style="width: 17rem;">
                    <div class="ratio ratio-1x1">
                        <img src="assets/imagens/FotoVisao.jpeg" class="card-img-top" alt="..."
                            style="object-fit: contain;">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Conquistar e ampliar nossa atuação as outras
                            localidades,tornando-semodelo na
                            esfera social</p>
                        <a href="#" class="btn btn-outline-warning d-grid gap-2 col-12 mx-auto">VISÃO</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div id="corcard" class="card" style="width: 19rem;">
                    <div class="ratio ratio-1x1">
                        <img src="assets/imagens/FotoValores.jpeg" class="card-img-top" alt="..."
                            style="object-fit: contain;">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Ética e solidariedade,igualdade e equidade,inclusão e justiça
                            social,sustentabilidade eempatia. Respeitamostodos os tipos de crença,e mesmo
                            aqueles quenão as
                            professam,respeitando o indivíduoem seu caráter último,na luta também pelolivre
                            pensamentoreligioso e suas vertentes</p>
                        <a href="#" class="btn btn-outline-warning d-grid gap-2 col-12 mx-auto">VALORES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- FINAL CARDS-->

    <!-- INICIO CARDSEQUIPE-->
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <div id="textoo" class="card" style="width: 72rem;">
                    <div class="align-self-stretch">
                        <div class="d-flex justify-content-around">
                            <div class="d-flex align-items-center">
                                <h1>EQUIPE DA MOB</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <!--início da segunda linha-->

    <!--Inicio Card-->

    <!--inicio Texto-->
    <div class="container"
        style="border-radius: 20px; padding-bottom: 25px; padding-top: 25px;  border: 1px solid #ffffff; width: 1110px;">

        <div class="row" style="padding-bottom: 40px">
            <div class="col">
                <div id="textoo" class="card" style="width: 15rem; margin: 0 auto; border: 1px solid #ffffff;">
                    <img src="./img2/Jefferson.jpg" class="rounded-circle" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <p class="text-center">Mike Olima </p>
                        </h5>
                        <p class="card-text text-center">Presidente - Fundador</p>
                        <!-- Inicio Button Modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" style="font-size: 14px;"
                                class="btn btn-warning d-grid gap-2 col-12 mx-auto" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Clique Aqui
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel"> Mike Olima
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <b>Formação: </b><br>
                                        Bacharelado Pedagógia(FASB) <br>
                                        Especialista em Direitos Humanos (PUC-PR)<br>
                                        Coordenador Pedagógico e Produto Cultutal na Mob <br>
                                        <br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning d-grid gap-2 col-12 mx-auto"
                                            data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fim do Modal -->
                    </div>
                </div>
            </div>

            <div class="col">
                <div id="textoo" class="card" style="width: 15rem; margin: 0 auto; border: 1px solid #ffffff;">
                    <img src="./img2/Lari.jpeg" class="rounded-circle" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <p class="text-center">David Gomes</p>
                        </h5>
                        <p class="card-text text-center">Vice Presidente e Co-fundador </p>
                        <!-- Inicio Button Modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" style="font-size: 14px;"
                                class="btn btn-warning d-grid gap-2 col-12 mx-auto" data-bs-toggle="modal"
                                data-bs-target="#exampleModal2">
                                Clique Aqui
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Larissa
                                            Coelho</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <b>Formação: </b><br>
                                        Trabalho escrito com fundamentação teórica <br>
                                        Cronstrução do HTML Competências Comportamentais <br>
                                        Formatação do Layout HTML (todos os tópicos)
                                        <br><br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning d-grid gap-2 col-12 mx-auto"
                                            data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fim do Modal -->
                    </div>
                </div>
            </div>

            <div class="col">
                <div id="textoo" class="card" style="width: 15rem; margin: 0 auto; border: 1px solid #ffffff;">
                    <img src="./img2/Carlos.jpeg" class="rounded-circle" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <p class="text-center">Rafael Cardoso</p>
                        </h5>
                        <p class="card-text text-center">Líder e Coordenador de Projetos </p>
                        <!-- Inicio Button Modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" style="font-size: 14px;"
                                class="btn btn-warning d-grid gap-2 col-12 mx-auto" data-bs-toggle="modal"
                                data-bs-target="#exampleModal3">
                                Clique Aqui
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Carlos
                                            Roberto</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <b>Formação: </b><br>
                                        Pesquisa Técnica sobre a profissão do entrevistado <br>
                                        Auxílio na cronstrução do HTML do profissional entrevistado <br>
                                        Cronstrução do HTML Home <br>
                                        <br>
                                    </div>
                                    <div class="modal-footer">
                                        <button routerLink="/doar" type="button"
                                            class="btn btn-warning d-grid gap-2 col-12 mx-auto"
                                            data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fim do Modal -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="textoo" class="card" style="width: 15rem; margin: 0 auto; border: 1px solid #ffffff;">
                    <img src="./img2/Isa.jpeg" class="rounded-circle" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <p class="text-center">Isabela Rocha </p>
                        </h5>
                        <p class="card-text text-center">Analista de Qualidade</p>
                        <!-- Inicio Button Modal -->
                        <div class="d-flex justify-content-center">
                            <button type="button" style="font-size: 14px;"
                                class="btn btn-warning d-grid gap-2 col-12 mx-auto" data-bs-toggle="modal"
                                data-bs-target="#exampleModal4">
                                Clique Aqui
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Isabela
                                            Rocha</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <b>Formação: </b><br>
                                        Entrevistar o convidado <br>
                                        Coletar informações do entrevistado <br>
                                        Realizar a Apresentação <br>
                                        Cronstrução do HTML do profissional entrevistado <br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning d-grid gap-2 col-12 mx-auto"
                                            data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fim do Modal -->
                    </div>
                </div>
            </div>
            <br> <br> <br>
            <!-- FINAL CARDSEQUIPE-->

            <!-- INICIO CARDDEFENDEMOS-->
            <div class="d-flex justify-content-center">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 72rem;">
                            <div class="align-self-stretch">

                                <div class="d-flex justify-content-around">
                                    <div class="d-flex align-items-center">
                                        <h1>O QUE DEFENDEMOS</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br> <br>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-left">
                            <p class="text-center">Igualdade e Equidade de Gênero</p>
                        </h5>
                        <p class="card-text text-center">Homens e mulheres tendo osmesmos direitos e
                            deveressociais.
                            a fim de construir uma sociedade livre depreconceitos e discriminações.</p>

                        <h5 class="card-title text-left">
                            <p class="text-center">Diversidade e Inclusão</p>
                        </h5>
                        <p class="card-text text-center">Unir perspectivas diferentesseja devido a
                            orientaçãosexual,
                            classe, crença visando participação efetiva de vários agentes sociais e inclusão
                            dada
                            pessoa com deficiência física ou intelectual.</p>

                        <h5 class="card-title text-left">
                            <p class="text-center">Igualdade Racial</p>
                        </h5>
                        <p class="card-text text-center">Garantia de direitos,oportunidades, a população negra e
                            indígena atrelada a luta antirracista.</p>

                        <h5 class="card-title text-left">
                            <p class="text-center">Arte e Cultura</p>
                        </h5>
                        <p class="card-text text-center">A fim de garantir odesenvolvimento intelectual e
                            cognitivodos indivíduos declaramos de suma importância uma sociedade que todos
                            usufruam
                            da
                            arte em suas infinitaslinguagens e dacultura comoconstrução deidentidade.</p>

                        <h5 class="card-title text-left">
                            <p class="text-center">Educação</p>
                        </h5>
                        <p class="card-text text-center">Defendemos uma educação pública e de qualidade que
                            forma indivíduos,autônomos, críticos,reflexivos,humanizados ecriativos.</p>

                        <h5 class="card-title text-left">
                            <p class="text-center">Erradicação da Pobreza</p>
                        </h5>
                        <p class="card-text text-center">Um país livre da fome e da miséria social
                            a partir deprojetos de politicas públicas e programas sociais
                            encabeçados pelos setores privados ou públicos no enfretamento da pobreza.</p>

                        <h5 class="card-title text-left">
                            <p class="text-center">Enfretamento das Desigualdades Sociais e Econômicas.</p>
                        </h5>
                        <p class="card-text text-center">Respeito às leis e instituições democráticas, de modo
                            que
                            sejam garantidosos direitos aos cidadãos e cidadãs e a justiça de igual modo.<br>
                            bem como suascondições ambientais,biológicas, físicas e químicas.</p>

                        <h5 class="card-title text-left">
                            <p class="text-center">Meio Ambiente e Abiodiversidade.</p>
                        </h5>
                        <p class="card-text text-center">Respeitando as suas condições ambientais,biológicas,
                            físicas e químicas.</p>

                        <h5 class="card-title text-left">
                            <p class="text-center">Estado Laico</p>
                        </h5>
                        <p class="card-text text-center">Separação de estado e religião. Sendo o pais,
                            municípios
                            eestados regidos pelaconstituição.</p>

                        <h5 class="card-title text-left">
                            <p class="text-center">Democracia</p>
                        </h5>
                        <p class="card-text text-center">Ainda que não chegamos a uma democracia plena, ela
                            ainda é
                            o
                            regime político emque os cidadãos conseguem eleger e participar daorganização
                            social.
                        </p>

                        <h5 class="card-title text-left">
                            <p class="text-center">Direitos humanos</p>
                        </h5>
                        <p class="card-text text-center">Direitos humanos são os direitos básicos de todos os
                            seres
                            humanos. São direitos civis
                            e políticos; direitos econômicos,sociais e culturais; direitos difusos e coletivos.
                        </p>
                        <!-- FINAL CARDDEFENDEMOS-->
                        <!-- INICIO CARDSEQUIPE-->
                        <div class="d-flex justify-content-center">
                            <div class="row">
                                <div class="col">
                                    <div class="card" style="width: 72rem;">
                                        <div class="align-self-stretch">

                                            <div class="d-flex justify-content-around">
                                                <div class="d-flex align-items-center">
                                                    <h1>COMO AJUDAR</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <p class="card-text text-center">A Org MOB é um time trabalhando junto
                            para a redução de situações de exclusão social a que estão submetidas crianças e
                            adolescentes. Por meio de doações fortalecemos os nossos projetos, você pode se
                            juntar a
                            nós e
                            ajudar a transformar as vidas de muitos jovens brasileiros.
                        </p>
                        <form class="d-flex" role="search">
                            <a routerLink="/Doar" button class="btn btn-warning d-grid gap-2 col-6 mx-auto "
                                type="submit">DOAÇÕES
                            </a>
                        </form>
                    </div>