.card-body {
    border-radius: none;
    border-style: none;
    border: none;

}

.card {
    border: none;
    background-color: transparent;
}



#textoo {
    background-color: #131212;
    color: #c5c321 !important;
}

#corcard {
    background-color: #131212;
    color: #c5c321 !important;
    text-align: center;
}

#teste {
    background-color: #131212;
    width: 100vw;
}

#teste1 {
    background-color: #FFD700;
    width: 100vw;
}