<!-- INICIO BANNER-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/imagens/FotoQuemSomos.jpeg" class="d-block w-100" alt="..." style="height: 750px">
        </div>
    </div>
</div>
<!-- FINAL BANNER-->

<!-- INICIO TEXTE1-->
<div class="container">
    <p>
        A MOB é uma organização da sociedade civil que visa levar arte, cultura e educação para jovens e crianças da
        comunidade da Vila Ferreira e demais regiões de São Bernardo do Campo. Um projeto de impacto social e
        mobilizador na luta pela igualdade, equidade e pluralidade. Mas falamos que somos uma comunidade
    </p>
</div>
<!-- FINAL TEXTE1-->

<!-- INICIO CARDS-->
<div class="container mt-3">
    <div class="row align-items-start">
        <div class="col-4">
            <div class="card" style="width: 19rem;">
                <div class="ratio ratio-1x1">
                    <img src="assets/imagens/FotoMissao.jpeg" class="card-img-top" alt="..."
                        style="object-fit: contain;">
                </div>
                <div class="card-body">
                    <p class="card-text"> Mobilizar pessoas a fim de promover bem estarsocial, arte,
                        cultura,formação
                        profissional,oficinas, consciênciacidadã e sustentável,palestras, fórum e
                        lutaspor políticas
                        públicas esociais.</p>
                    <a href="#" class="btn btn-primary">MISSÃO</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 19rem;">
                <div class="ratio ratio-1x1">
                    <img src="assets/imagens/FotoVisao.jpeg" class="card-img-top" alt="..."
                        style="object-fit: contain;">
                </div>
                <div class="card-body">
                    <p class="card-text">Conquistar e ampliar nossa atuação as outras
                        localidades,tornando-semodelo na
                        esfera social</p>
                    <a href="#" class="btn btn-primary">VISÃO</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 19rem;">
                <div class="ratio ratio-1x1">
                    <img src="assets/imagens/FotoValores.jpeg" class="card-img-top" alt="..."
                        style="object-fit: contain;">
                </div>
                <div class="card-body">
                    <p class="card-text">Ética e solidariedade,igualdade e equidade,inclusão e justiça
                        social,sustentabilidade eempatia. Respeitamostodos os tipos de crença,e mesmo
                        aqueles quenão as
                        professam,respeitando o indivíduoem seu caráter último,na luta também pelolivre
                        pensamentoreligioso e suas vertentes</p>
                    <a href="#" class="btn btn-primary">Valores</a>
                </div>
            </div>
        </div>
        <!-- FINAL CARDS-->

        <!-- INICIO CARDSEQUIPE-->
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 72rem;">
                        <div class="align-self-stretch">

                            <div class="d-flex justify-content-around">
                                <div class="d-flex align-items-center">
                                    <h1>Integrantes</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <!--início da segunda linha-->

        <!--Inicio Card-->

        <!--inicio Texto-->
        <div class="mb-3"
            style="width: 350px; border-radius: 30px; border: 1px solid #ccc; border-width: 3px; padding-left: 0.9%; margin-left: 15%">
            <span style="display:inline-block;">EQUIPE DA MOB</span>
            <span style="display:inline-block; vertical-align:middle;"><img src="./img2/lupa.png" width="23px"
                    height="23px" style="margin-bottom: 2px; margin-left: 15px;"></span>
        </div>

        <div class="container"
            style="border-radius: 20px; padding-bottom: 25px; padding-top: 25px;  border: 1px solid #ffffff; width: 1110px;">

            <div class="row" style="padding-bottom: 40px">

                <div class="col">
                    <div class="card" style="width: 15rem; margin: 0 auto; border: 1px solid #ffffff;">
                        <img src="./img2/Jefferson.jpg" class="rounded-circle" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <p class="text-center">Jefferson Monteiro </p>
                            </h5>
                            <p class="card-text text-center">Assistente Financeiro II</p>
                            <!-- Inicio Button Modal -->
                            <div class="d-flex justify-content-center">
                                <button type="button" style="font-size: 14px;" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Clique Aqui
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Jefferson Monteiro
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Atribuições: </b><br>
                                            Briefing da Entrevista e Apresentação <br>
                                            Entrevistar o convidado <br>
                                            Realizar a Apresentação <br>
                                            Cronstrução do HTML Integrantes <br>
                                            <br>
                                            <b>Formação: </b><br>
                                            Bacharelado em Administração de Empresas <br>
                                            MBA em Gestão Financeira e Controladoria <br>
                                            Pós-graduado em Contabilidade, Perícia e Auditoria <br>
                                            <br>
                                            <b>Frase de Inspiração: </b><br>
                                            "Acredite em si mesmo e todo o resto se encaixa. Tenha em mente que você
                                            é capaz
                                            de fazer qualquer coisa que imaginar." <br>
                                            <br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do Modal -->
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 15rem; margin: 0 auto; border: 1px solid #ffffff;">
                        <img src="./img2/Lari.jpeg" class="rounded-circle" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <p class="text-center">Larissa Coelho </p>
                            </h5>
                            <p class="card-text text-center">Designer Gráfico e Digital</p>
                            <!-- Inicio Button Modal -->
                            <div class="d-flex justify-content-center">
                                <button type="button" style="font-size: 14px;" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                    Clique Aqui
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Larissa Coelho</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Atribuições: </b><br>
                                            Trabalho escrito com fundamentação teórica <br>
                                            Cronstrução do HTML Competências Comportamentais <br>
                                            Formatação do Layout HTML (todos os tópicos)
                                            <br><br>
                                            <b>Formação: </b><br>
                                            Técnico Administrativo<br>
                                            Cursos complementares: (Mkt, Design, Empreendodorimo, etc)<br>
                                            Licenciatura em Física (trancado)
                                            <br>
                                            <b>Frase de Inspiração: </b><br>
                                            "Eu tentei 99 vezes e falhei, mas na centésima tentativa eu
                                            consegui."<br>
                                            <br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do Modal -->
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 15rem; margin: 0 auto; border: 1px solid #ffffff;">
                        <img src="./img2/Carlos.jpeg" class="rounded-circle" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <p class="text-center">Carlos Roberto </p>
                            </h5>
                            <p class="card-text text-center">Eletricista Predial</p>
                            <!-- Inicio Button Modal -->
                            <div class="d-flex justify-content-center">
                                <button type="button" style="font-size: 14px;" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal3">
                                    Clique Aqui
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Carlos Roberto</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Atribuições: </b><br>
                                            Pesquisa Técnica sobre a profissão do entrevistado <br>
                                            Auxílio na cronstrução do HTML do profissional entrevistado <br>
                                            Cronstrução do HTML Home <br>
                                            <br>
                                            <b>Formação: </b><br>
                                            Técnico em Eletroeletrônica<br>
                                            <br>
                                            <b>Frase de Inspiração: </b><br>
                                            "Faça o seu melhor e o seu mundo será melhor." <br>
                                            <br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do Modal -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col">
                    <div class="card" style="width: 15rem; margin: 0 auto; border: 1px solid #ffffff;">
                        <img src="./img2/Isa.jpeg" class="rounded-circle" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <p class="text-center">Isabela Rocha </p>
                            </h5>
                            <p class="card-text text-center">Analista de Qualidade</p>
                            <!-- Inicio Button Modal -->
                            <div class="d-flex justify-content-center">
                                <button type="button" style="font-size: 14px;" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal4">
                                    Clique Aqui
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Isabela Rocha</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Atribuições: </b><br>
                                            Entrevistar o convidado <br>
                                            Coletar informações do entrevistado <br>
                                            Realizar a Apresentação <br>
                                            Cronstrução do HTML do profissional entrevistado <br>
                                            <br>
                                            <b>Formação: </b><br>
                                            Técnica em Administração <br>
                                            Graduação em Marketing <br>
                                            Pós-graduando em Gestão Estratégica de Negócios e Gestão de Projetos
                                            <br>
                                            <br>
                                            <b>Frase de Inspiração: </b><br>
                                            "Vibre luz e o universo retribuirá pois o bem atrai o bem." <br>
                                            <br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do Modal -->
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 15rem; margin: 0 auto; border: 1px solid #ffffff;">
                        <img src="./img2/Isis.jpeg" class="rounded-circle" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <p class="text-center">Isis Leal </p>
                            </h5>
                            <p class="card-text text-center">Assistente Virtual e MEI </p>
                            <!-- Inicio Button Modal -->
                            <div class="d-flex justify-content-center">
                                <button type="button" style="font-size: 14px;" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal5">
                                    Clique Aqui
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Isis Leal</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Atribuições: </b><br>
                                            Revisão do trabalho <br>
                                            Participação na entrevista do convidado <br>
                                            Roteiro pós-entrevista transcrito <br>
                                            <br>
                                            <b>Formação: </b><br>
                                            Bacharelado Administração de Empresas com Ênfase em TI<br>
                                            <br>
                                            <b>Frase de Inspiração: </b><br>
                                            "A melhor maneira de prever o futuro é criá-lo." <br>
                                            <br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do Modal -->
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 15rem; margin: 0 auto; border: 1px solid #ffffff;">
                        <img src="./img2/Hygor.jpeg" class="rounded-circle" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <p class="text-center">Hygor da Silva </p>
                            </h5>
                            <p class="card-text text-center">Estudante</p>
                            <!-- Inicio Button Modal -->
                            <div class="d-flex justify-content-center">
                                <button type="button" style="font-size: 14px;" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal6">
                                    Clique Aqui
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Hygor da Silva</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Atribuições: </b><br>
                                            ----------- <br>
                                            <br>
                                            <b>Formação: </b><br>
                                            Estudante de Ensino Médio <br>
                                            <br>
                                            <b>Frase de Inspiração: </b><br>
                                            "Tente uma, duas, três vezes e se possível tente a quarta, a quinta e
                                            quantas
                                            vezes for necessário. Só não desista nas primeiras tentativas, a
                                            persistência é
                                            amiga da conquista. Se você quer chegar aonde a maioria não chega, faça
                                            o que a
                                            maioria não faz." <br>
                                            <br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do Modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- FINAL CARDSEQUIPE-->