<!-- INICIO CBANNER-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/imagens/FotoQuemSomos.jpeg" class="d-block w-100" alt="..." style="height: 750px">
        </div>
    </div>
</div>
<!-- FINAL BANNER-->

<!-- INICIO CARDS-->
<div class="container mt-3">
    <div class="row align-items-start">
        <div class="col-4">
            <div class="card" style="width: 19rem;">
                <div class="ratio ratio-1x1">
                    <img src="assets/imagens/FotoMissao.jpeg" class="card-img-top" alt="..."
                        style="object-fit: contain;">
                </div>
                <div class="card-body">
                    <p class="card-text"> Mobilizar pessoas a fim de promover bem estarsocial, arte,
                        cultura,formação
                        profissional,oficinas, consciênciacidadã e sustentável,palestras, fórum e
                        lutaspor políticas
                        públicas esociais.</p>
                    <a href="#" class="btn btn-primary">MISSÃO</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 19rem;">
                <div class="ratio ratio-1x1">
                    <img src="assets/imagens/FotoVisao.jpeg" class="card-img-top" alt="..."
                        style="object-fit: contain;">
                </div>
                <div class="card-body">
                    <p class="card-text">Conquistar e ampliar nossa atuação as outras
                        localidades,tornando-semodelo na
                        esfera social</p>
                    <a href="#" class="btn btn-primary">VISÃO</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 19rem;">
                <div class="ratio ratio-1x1">
                    <img src="assets/imagens/FotoValores.jpeg" class="card-img-top" alt="..."
                        style="object-fit: contain;">
                </div>
                <div class="card-body">
                    <p class="card-text">Ética e solidariedade,igualdade e equidade,inclusão e justiça
                        social,sustentabilidade eempatia. Respeitamostodos os tipos de crença,e mesmo
                        aqueles quenão as
                        professam,respeitando o indivíduoem seu caráter último,na luta também pelolivre
                        pensamentoreligioso e suas vertentes</p>
                    <a href="#" class="btn btn-primary">Valores</a>
                </div>
            </div>
        </div>
        <!-- FINAL CARDS-->