<!--=================================
    Case Study Detail -->

    <div class="container">
        <div class="col-sm-12 mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-dark">A Kaspper Academy é um projeto social que apoia a formação de novos talentos e
                        a atualização dos profissionais mais experientes no mercado de TI.
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">

                <div class="col-lg-12 col-md-12 mt-2">
                    <p class="mt-0">
                        <img src="assets/imagens/logo_kaspper.png" align="left" width="50%" />
                        Nascido do sonho de seus fundadores, Flavio Cardoso e Joan Berezutchi Neto, a Academia tem como
                        missão investir na educação como meio para transformar vidas.
                    </p>
                    <p>A formação oferecida pela Kaspper Academy é totalmente gratuita e dura 6 meses, divididas em
                        aulas ao vivo transmitidas online. A cada edição adaptamos o plano de aulas e temas a serem
                        discutidos, além de disciplinas de programação, soft skills, língua portuguesa e matemática, o
                        currículo inclui também temas a serem discutidos como gestão financeira pessoal, carreira,
                        inovação e tendências no mercado de TI, que ajudará os alunos a planejar suas carreiras. </p>
                    <p>A Kaspper Academy oferece uma grande oportunidade para aqueles talentos que não têm acesso ao
                        mercado de tecnologia, possibilitando-lhes ingressar nesse setor. Além disso, a Academia tem
                        como principal objetivo formar profissionais altamente qualificados, capazes de suprir a falta
                        de profissionais de TI no mercado brasileiro. </p>
                    <p>Nosso projeto é inovador não apenas pelo seu conteúdo e metodologia de ensino, mas também pela
                        sua abordagem colaborativa e interativa. Os alunos terão a oportunidade de trabalhar em equipe
                        em projetos reais, colaborando uns com os outros e aprendendo com seus colegas e mentores. </p>
                    <p>Em resumo, a Kaspper Academy é uma iniciativa revolucionária no campo da educação, que oferece
                        aos talentos uma chance única de ingressar no mercado de tecnologia e desenvolver suas carreiras
                        de maneira eficiente e inovadora. Se você é um profissional ou está interessado em se
                        especializar na área de TI, não perca a oportunidade de se inscrever na Kaspper Academy e
                        começar sua jornada rumo ao sucesso. </p>

                </div>
                <!--inicio profissional-->
                <div class="container">
                    <div class="container-fluid">
                        <img src="img2/Andre entrevistado.png" class="rounded-circle" alt="André Honorato"
                            posiction="center">
                        <br>
                        <p>Profissional entrevistado</p>
                    </div>
                    <br>
                    <div class="container-fluid">
                        <div class="container1">
                            <div class="col">
                                <h5>O nosso profissional parceiro e entrevistado para este projeto foi o André Honorato.
                                </h5>
                                <br>
                                <p>Ele é morador de Osasco, formado em publicidade, TI e pós graduado em gestão de
                                    projetos.</p>
                                <p> Falando um pouquinho mais sobre ele também podemos citar que é pai, esposo e atua em
                                    formato hibrido como gerente de projetos na Kaspper, em alocação no cliente.
                                    Na empresa atual iniciou a sua jornada como analista, conseguiu entregar dois
                                    projetos muito grandes que estavam parados na empresa, ganhou destaque e foi
                                    promovido pois a empresa já sabia que ele atuava como gerente na empresa que
                                    antecedia a atual.
                                    André conta que a sua migração para TI foi motivada por puro desespero para entrar
                                    no mercado de trabalho, diz ele que recebeu uma oportunidade como testador, abraçou
                                    a vaga, entrou para a área e daí então já dentro da área começou a estudar e a se
                                    desenvolver, e daí criou uma jornada que já duram mais de 20 anos.</p>
                                <br>
                                <h5> Ao perguntar o que o gerente de projetos faz, a resposta foi a seguinte:</h5>

                                O gerente de projetos é o profissional que intermedia as necessidades do cliente com o
                                orçamento deste. Que cobra e acompanha e obra a produção dos projetos e a hierarquia
                                abaixo da dele e dessa forma faz a coisa se desenvolver e acontecer.
                                Acredita que sem a função os projetos não seriam entregues, o profissional que executa
                                não teria como desenvolver. Sem o gerente as coisas correm soltas e ninguém entrega.

                                <p> Ele explica a forma como trabalha que é que a verdade nem sempre pode ser dita, mas
                                    tenta antever os problemas, tenta conversar com a pessoa do seu time e depois manda
                                    o e-mail de orientação ou reorientação. Tenta sempre fazer uma gestão mais próxima
                                    do colaborador, faz um acompanhamento por status diário de tudo o que envolve o
                                    projeto.
                                    Utiliza algumas ferramentas, porém como estas não geram visibilidade, o mais forte é
                                    manter a comunicação por e-mail para gerar visibilidade para a hierarquia superior.
                                    Trabalha muito o senso de urgência e sendo algum assunto urgente já faz o contato
                                    com o colaborador do projeto de imediato.</p>

                                <p> Para o futuro o mesmo projeta e deseja migrar para a área comercial, especialmente
                                    com vendas de projetos. Confessa que nunca foi um bom desenvolvedor de sistemas,
                                    porém sempre focou na solução e entregou projetos com uma margem de erro muito
                                    baixa.
                                    André cita que o principal problemas que ele vê na nova geração é que eles não
                                    entendem os problemas e não sabem escutar as dores do cliente e colocar as ideias no
                                    papel.
                                    Então entender o problema, saber conversar sobre o problema, colocar no papel e na
                                    sequencia fazer a sintaxe através do projeto é fundamental para trabalhar com
                                    projetos de forma eficiente na área de TI.
                                    A qualidade não é quantificada no projeto, só acontece na entrega do produto final.
                                </p>
                                <br>
                                <h5> A dica de ouro que nos foi deixada no bate papo foi:</h5>
                                <p> Estudem lógica!
                                    Leia! Quem lê e se integra dos assuntos não é enganado por ninguém.
                                    Busque conhecimento.</p>

                                <h1>Quem entende de negócios e comunicação nunca vai ficar sem trabalho.</h1>
                            </div>
                        </div>
                    </div>
                    <hr>

