<h2>Consulte a Listagem de Candidatos para o Curso Full-Stack</h2>

<div class="col-md-6 offset-md-2">


    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col-md-3">Nome</th>
                <th scope="col-md-6">RG</th>
                <th scope="col">CPF</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col">Periodo</th>
                <th scope="col">Programação</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let candidato of candidatos | async" >
                <td>{{candidato.nome}}</td>;
                <td>{{candidato.RG}}</td>;
                <td>{{candidato.CPF}}</td>;
                <td>{{candidato.telefone}}</td>;
                <td>{{candidato.email}}</td>;
                <td>{{candidato.periodo}}</td>;
                <td>{{candidato.programacao}}</td>;
            </tr>
    </table>
</div>