<!-- TÍTULO INTRODUÇÃO-->
<br>
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 72rem;">
                <div class="align-self-stretch">

                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center">
                            <h1>Sobre o Instituto Cativar</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br>


<!--TEXTO INTRODUÇÃO-->

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <img src="assets/imagens/LogoCativar.png" width="200px">
        </div>
    </div>
</div>

<br>

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 38rem; border: 1px solid #ffffff;">
                <div class="align-self-stretch">
                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center flex-column">

                            <p class="fw-light" style="text-align: justify;"> O INSTITUTO CATIVAR foi criado em 2014 por
                                um grupo de pessoas que tinham em comum um desejo: um mundo melhor. Com repertório e
                                vivências em diferentes projetos sociais, artísticos, culturais, o grupo reuniu o melhor
                                de sua bagagem a fim de transformar e fortalecer a realidade social de forma abrangente,
                                organizada e contínua.

                                Para escolher a área de atuação do Cativar, esse grupo iniciou uma pesquisa de quais
                                áreas de São Bernardo do Campo apresentavam maior vulnerabilidade social e contavam com
                                menor atuação de entidades socioassistenciais, a fim de garantir a efetividade do
                                trabalho a ser realizado. E a região escolhida foi a do Cooperativa e adjacências, onde
                                inauguramos nossa sede e iniciamos os atendimentos sociais à população do entorno.

                                O objetivo principal é de prevenir situações de risco e fortalecer a convivência
                                familiar e comunitária, oferecer ações complementares à escola, com enfoque na educação
                                integral, apoio psicossocial e sócio-familiar, visando a valorização da escola, o
                                sucesso em situações de ensino-aprendizagem e a criação de vínculos pessoais, familiares
                                e comunitários e desenvolver atividades de intervenção urbana e ações sociais,
                                fortalecendo o respeito, a solidariedade, a gentileza e a sustentabilidade.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<!--TÍTULO DESENVOLVIMENTO-->

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 72rem;">
                <div class="align-self-stretch">

                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center">
                            <h1>Como é a parceria com a MOB</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br>
<!---PARTE DA PARCERIA COM A MOB--->
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 38rem; border: 1px solid #ffffff;">
                <div class="align-self-stretch">
                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-center flex-column">

                            <p class="fw-light" style="text-align: justify;"> O INSTITUTO CATIVAR foi criado em 2014 por
                                um grupo de pessoas que tinham em comum um desejo: um mundo melhor. Com repertório e
                                vivências em diferentes projetos sociais, artísticos, culturais, o grupo reuniu o melhor
                                de sua bagagem a fim de transformar e fortalecer a realidade social de forma abrangente,
                                organizada e contínua.

                                Para escolher a área de atuação do Cativar, esse grupo iniciou uma pesquisa de quais
                                áreas de São Bernardo do Campo apresentavam maior vulnerabilidade social e contavam com
                                menor atuação de entidades socioassistenciais, a fim de garantir a efetividade do
                                trabalho a ser realizado. E a região escolhida foi a do Cooperativa e adjacências, onde
                                inauguramos nossa sede e iniciamos os atendimentos sociais à população do entorno.

                                O objetivo principal é de prevenir situações de risco e fortalecer a convivência
                                familiar e comunitária, oferecer ações complementares à escola, com enfoque na educação
                                integral, apoio psicossocial e sócio-familiar, visando a valorização da escola, o
                                sucesso em situações de ensino-aprendizagem e a criação de vínculos pessoais, familiares
                                e comunitários e desenvolver atividades de intervenção urbana e ações sociais,
                                fortalecendo o respeito, a solidariedade, a gentileza e a sustentabilidade.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <iframe class="map-iframe"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.910908173895!2d-46.59661042448737!3d-23.714875367250333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce43f855555555%3A0xbe837025f8643ca0!2sInstituto%20Cativar%20unidade%20COOPERATIVA!5e0!3m2!1spt-BR!2sbr!4v1692593233296!5m2!1spt-BR!2sbr"
                width="200" class="rounded-circle" style="border: 1px;  ;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h6> Endereço: Rua João XXIII, 307
                <br>
                Vila Alves Dias – São Bernardo do Campo / SP
                <br>
                CEP: 09851-631
            </h6>

        </div>
    </div>


    <hr>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="col">
                    <div class="p-3">
                        <h1>Contatos</h1>

                        Instituto CATIVAR

                        <ul class="icons">
                            <a href="https://www.facebook.com/institutocativar">
                                <img src="assets/imagens/LogoFace.png" alt="" width="50px" height="50px"></a>
                            <a href="https://www.instagram.com/icativar/">
                                <img src="assets/imagens/LogoInsta.jpeg" width="50px" height="50px"></a>
                        </ul>
                    </div>
                </div>
            </div>
            <br>